@font-face
{
	font-family: 'Museo300R';
	src: url('/assets/Museo300-Regular-webfont.woff2') format('woff2'),
         url('/assets/Museo300-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: 'Museo300R', Helvetica, serif;
}

.main-navbar
{
	min-height: 70px;
}

.lipro-code
{
	font-family: consolas;
	font-size: 30px;
	padding-top: 70px;
}

.coding-cursor
{
	padding: 1px;
	border-right: .1em solid black;
}

.main-link:hover
{
	border-bottom: 1px solid gray;
	/*animation:
		selected .75s linear infinite;*/
	transform: scale(1.2);
}

@keyframes selected
{
	50% {transform: scale(1.2);}
}

.code-cursor
{
	padding: 1px;
	border-right: .1em solid black;
	animation: blink-cursor .5s step-end infinite;
}

@keyframes blink-cursor
{
	from, to { border-color: transparent; }
	50% { border-color: black; }
}